* {
    font-size: 10px;
}

body {
    background: #F3EAE3;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 20rem 10rem;
    height: 450px;
    width: 600px;
}

img {
    height: 450px;
    width: 300px;
}